.section-title {
    text-align: left;
    padding-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

.section-title > h2 {
    font-size: 20px; /* Adjusted font size */
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    color: rgb(1, 2, 27);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background-color: #34b7a7;
    bottom: 0;
    left: calc(50% - 25px);
}

.section-title p {
    margin-bottom: 0;
}

.image-center {
    display: flex;
    margin-left: 10%;
    margin-top: 10%; /* Adjusted margin-top */
    margin-bottom: 5%;
    margin-right: 70%;
}

.about-category {
    display: flex;
    gap: 1rem;
}

.category {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 2rem;
    gap: 1rem;
    color: white;
    justify-content: space-between;
}

.work-experience {
    font-family: 'Arial', sans-serif;
}

.work-experience h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.job {
    margin-bottom: 30px;
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-title {
    font-size: 18px;
    font-weight: bold;
}

.company {
    color: #000000;
}

.job-duration {
    font-size: 14px;
    color: #000000;
}

.job-description {
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
}

.skills-used {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.skill-badge-css {
    background: #112240;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #64ffda;
}
